header {
    min-height: 60px;
    align-content: center;
    background-color: rgb(84, 124, 84);

    nav {
        height: 60px;
        align-content: center;
        margin: auto;

        ul {
            color: #EEE;
            display: flex;
            flex-direction: row;
            list-style-type: none;
            padding: 0;
            margin: auto 80px auto 0;
            float: right;

            li {
                font-size: 1.1em;
                font-weight: 700;
                margin: 0 0 0 30px;
                text-transform: capitalize;
            }

            li:hover {
                color: #282;
            }
        
            a {
                text-decoration: none;
                color: inherit;
            }

            .selected::before {
                content: "<span></span>";
            }
        }
    }
}