<button style="display: none;" id="toggle">Toggle</button>

<label for="y_scale">Y scale: </label>
<input id="y_scale" type="range" min="5" max="100" value="100">

<label for="cb_scale">Cb scale: </label>
<input id="cb_scale" type="range" min="5" max="100" value="100">

<label for="cr_scale">Cr scale: </label>
<input id="cr_scale" type="range" min="5" max="100" value="100">

<label for="linear">Linear: </label>
<input type="radio" id="linear" name="filter" />

<label for="nearest">Nearest: </label>
<input type="radio" id="nearest" name="filter" checked />

<p>Original Size: <span id="file_size"></span></p><p>Compressed Size: <span id="reduced_file_size"></span></p>
<input id="imageFile" type="file" accept="image/*">

<canvas style="display: none;" id="virtualcanvas">Your browser does not seem to support canvases.</canvas>
<img style="display: none;" id="image" src="/textures/palm.jpg"/>
